/*---Max Width---*/
.tweak-blog-item-width-custom{

/*Blog Post Max Width*/
.blog-item-wrapper .blog-item-inner-wrapper{
@media screen and (min-width: 767px){ 
max-width: var(--canopy-blog-width)!important;
width:var(--canopy-blog-width)!important;}
margin-top:var(--canopy-blog-top)!important;}

/*Make Content Blog Width*/
.blog-item-content-wrapper h2, .blog-item-content-wrapper h3, .blog-item-content-wrapper h4, .blog-item-content-wrapper p, .blog-item-content-wrapper li, .blog-item-content-wrapper ul, blockquote, .blog-item-content-wrapper .sqs-block-horizontalrule{
max-width:var(--canopy-blog-width);
margin-left: auto!important;
margin-right: auto!important;}}
